<div id="shortcut-panel" class="container">
    <div class="row">
        <h1>Available applications</h1>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-1"></div>
        <div id="uuid-shortcut" class="col-sm-3 shortcut">
            <div>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </div>
            <div>
                <p>UUID generator</p>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div id="base64-shortcut" class="col-sm-3 shortcut">
            <div>
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            </div>
            <div>
                <p>Base64 converter</p>
            </div>
        </div>
    </div>
</div>