<div id="uuid-application" class="application container">
    <div class="row">
        <div class="col-sm-10">
            <h1>UUID generator</h1>
        </div>
        <div class="col-sm-2">
            <h1>
                <span class="glyphicon glyphicon-share-alt close-application-btn" aria-hidden="true"></span>
            </h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <div class="btn-group">
                <button class="btn btn-default btn-down" type="button">Braces</button>
                <button class="btn btn-default" type="button">Braces</button>
                <button class="btn btn-default btn-down" type="button">Hyphens</button>
            </div>
        </div>
        <div class="col-sm-4">
            <button id="btn-generate" class="btn btn-success" type="button">Generate</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>{{ '{' }}37a9fc13-5976-46a7-8fe2-8e109535cf6d{{ '}' }}</span>
        </div>
    </div>
</div>