#base64-application.application.container
    .row
        .col-sm-10
            h1 Base64 converter
        .col-sm-2
            h1
                +icon('glyphicon-share-alt')(class='close-application-btn')
    hr

    .row
        .col-sm-8
            .btn-group
                button.btn.btn-default.btn-down(type='button') Decode
                button.btn.btn-default(type='button') Encode
        .col-sm-4
            button.btn.btn-success(type='button') Convert
