#uuid-application.container.application
    .row
        .col-sm-10
            +icon('glyphicon-cog')
            span UUID my UUID
        .col-sm-2
            +icon('glyphicon-remove-circle')(class='close-application-btn')
    hr