@highlight-color: #5cb85c;
@pale-text-color: #777777;

.navbar-header .glyphicon {
  color: @highlight-color;
}

#shortcut-panel {

  h1 {
    color: @pale-text-color;
  }

  hr {
    margin-bottom: 80px;
  }

}

.shortcut {

  &:hover {
    color: @highlight-color;
  }

  text-align: center;

  div:first-child {
    font-size: 56px;
  }

  div:nth-child(2) {
    font-size: 16px;
    cursor: default;
  }

}

.application {

  h1 {
    color: @pale-text-color;
  }

  hr {
    margin-bottom: 80px;
  }

  .col-sm-2 {

    text-align: right;

    .close-application-btn {

      color: #dddddd;

      &:hover {
        color: @highlight-color;
      }

    }

  }

  .col-sm-4 {
    text-align: right;
  }

  .col-sm-12 {
    margin-top: 120px;
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    color: @pale-text-color;
  }

  .btn-default:focus {
    background-color: #fff;
  }

  .btn-default:hover {
    background-color: #fff;
  }

}

.btn-down {
  color: #ffffff !important;
  background-color: @pale-text-color !important;
}