<!DOCTYPE html>
{% import "links.html" as links %}
{% import "util.html" as util %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% if sources %}
    <link rel="stylesheet/less" type="text/css" href="../less/main.less"/>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"/>
    {% else %}
    {{ links.css() }}
    {% endif %}

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3>
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                <span>Miscellaneous page</span>
            </h3>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2"></div>

        {{
            util.applicationWidget('glyphicon-cog', 'UUID', 'UUID generator', [
                'Different formats',
                'Multiple value generation'
            ])
        }}

        <div class="col-sm-2"></div>

        {{
            util.applicationWidget('glyphicon-qrcode', 'Base64', 'Base64 support tool', [
                'Base64 decoding',
                'Base64 encoding'
            ])
        }}

        <div class="col-sm-2"></div>

    </div>
</div>

{% if sources %}
<script src="../ts/index.ts"></script>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
{% else %}
{{ links.js() }}
{% endif %}

</body>

</html>